.btn {
    outline: none;
    border: none;
    background-color: rgb(22, 173, 243);
    padding: .5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s linear;
    color: white;
    font-size: 16px;

    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
        background-color: rgb(9, 111, 158);
    }
}