:root {
    --background: rgba(208, 208, 208, .3);
    --color: black;
}

input {
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
}

.default {
    background-color: var(--background);
    color: var(--color);
}