.control {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;

    &__title {
        text-transform: capitalize;

        @media (max-width: 1000px) {
            text-align: center;
            align-self: center;
            text-wrap: balance;
        }
    }

    &__error {
        color: rgb(196, 13, 13);
        font-weight: bold;
    }

    &__input {
        font-size: 14px;
    }

    &__buttons {
        display: flex;
        gap: 7%;

        @media (max-width: 1000px) {
            justify-content: center;
        }
    }
}